.qui-page{
	width: 640px;
}
.qui-header{top: 37px;
	width: 100%;
	overflow:hidden;
	background-color: deeppink;

}
.qui-header a{
	text-decoration: none;
	display: block;
	color: #fff;
	height: 37px;
	padding: 0 38px;
	overflow-x:hidden ;
	text-align: center;
}	
.qui-header a:hover{
	background: pink;
	
}
.qui-header a:active{
	background: #9EA3AB;
}
.qui-header nav{
	height: 39px;
	position: -webkit-sticky;
	  position: sticky;
	z-index: 2;
	background: #87CEEB;
	border-radius: 50px;
	position-bottom:sticky;
}
.qui-header li{
	background-color: greenyellow;
	height: 35px;
	width: 160px;
	line-height: 35px;
	overflow:hidden;
	float: left;
	border:2px solid #87CEEB;
	border-radius: 50px;
}
.qui-header li:nth-of-type(2n){
			background-color:blueviolet;
			}


.container{
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.PRL{
	border-bottom: 1px solid #e6e8ea;
	background-color: #fff;
}
.PRL li{padding: 15px 5px 15px 0;
		border-top: 1px solid #e6e8ea;
}
.PRL a{
	display: block;
	position: relative;
}

.PRL .pic{
	display: block;
	min-height: 150px;
}
.PRL .bottom{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	padding: 30px 0 0 60px;
	color: #fff;
	background-image: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.6));
	background-image:linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.6));
}
.PRL .bottom .face{
	float: left;
	margin-left: -50px;
	width: 38px;
	height: 38px;
	border: 1px solid royalblue;
	border-radius:50%;
	overflow: hidden;
}

.PRL .bottom .face img{
	display: block;
	border-radius: 50%;
}
.PRL .bottom .title{
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
}
.PRL .day{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	background-color: rgba(43,171,121,0.8);
	list-style-type: square;
	text-align: center;
	font-size: 18px;
	line-height: 50px;
	color: #fff;
	border-left: 5px solid yellowgreen;
	border-top: 5px solid blanchedalmond;
	border-right: 5px solid skyblue;
	border-bottom: 5px solid seagreen;
}
.PRL .infos{
	margin: 7px;
	
}
.PRL .infos>div{
	margin-bottom: 5px;
	padding-left: 40px;
}
.PRL .infos em{
	float: left;
	font-size: 15px;
	font-weight: bold;
}
.PRL .infos p{
	max-height: 48px;
	overflow: hidden;
}
.qui-f{
	width: 100%;
	margin: 20px 0;
	text-align: center;
	font-size: 10px;
	line-height: 20px;
}
.qui-f .ss{
	color: #9ea3ab;
	
}

.qui-f .ss span{
	margin-left: 30px;
}
.qui-f .ss a{
	color: #444;
	text-decoration: none;
}
.qui-as{
	position: absolute;
	left: -400px;
	top: 0;
	height: 400px;
	width:200px;
}
.qui-a{
	position: fixed;
	top: 0;
	bottom: 0;
	width: 200px;
	overflow-y:scroll;
	background-color: pink;
}
.qui-N{
	padding: 80px 10px 10px;
}
.qui-N li{
	border-top: 1px solid aliceblue;
	background-color: hotpink;
}
.qui-N a{
	text-decoration: none;
	display: block;
	padding-left: 30px;
	font-size: 16px;
	line-height: 44px;
	color: #ced1d5;

}
.qui-N span{
	color: white;
	text-align: center;
}
.qui-N a:hover{
	color: white;
	background-color:skyblue;
}

.qui-N a:active{
	background: #9EA3AB;
}

.img0{
	position: absolute;
		left: -400px;
		top: 0;
		height: 400px;
		width:200px;
	}
.img{
	position: fixed;
	top: 20%;
	bottom: 0;
	width: 200px;
	background-color: #FFf0f5;
	left: 80%;
}
